<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" type="button" (click)="ingresarUs()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" type="button" (click)="listar()">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-text color="primary">
    <h1>Ingrese sus Datos</h1>
  </ion-text>
    
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input #txtNombre></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input #txtContrasenia></ion-input>
  </ion-item>
  <br>

  <ion-button (click)="ingresar(txtNombre, txtContrasenia)" 
  expand="block" fill="clear" shape="round">
   ingresar
  </ion-button>

  <ion-button (click)="eliminar(txtNombre, txtContrasenia)" 
  expand="block" fill="clear" shape="round">
   eliminar
  </ion-button>

    <div *ngIf="listado.length > 0">
  <ion-text color="primary" class="ion-text-center">
    <h1>Listado de Usuarios</h1>
  </ion-text>
  <ion-list>
    <div *ngFor="let item of listado">
      <ion-item>
        <ion-label>{{item[0].nombre}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{item[0].contrasenia}}</ion-label>
      </ion-item>
      <hr>
    </div>
    <ion-button (click)="eliminar(txtNombre, txtContrasenia)" 
  expand="block" fill="clear" shape="round">
   eliminar
  </ion-button>
  </ion-list>
</div>
<div *ngIf="existenDatos=='1'">
  <ion-text color="warning" class="ion-text-center">
    <br>
    <h1>No hay datos disponibles</h1>

  </ion-text>
</div>

  <br>
  <div *ngIf="aviso;">
    <ion-text color="primary">
      <h1>{{aviso}}</h1>
    </ion-text>
  </div>

</ion-content>