<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let post of posts" [routerLink]="['/', post.id]">
      <ion-avatar>
        <img [src]="post.imagenUrl" />
      </ion-avatar>
      <ion-label color="primary">{{post.nombre | titlecase }}</ion-label>
    </div>    
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" type="button" (click)="comentariosP()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>